*{
    margin: 0%;
    padding: 0;
}
.content{
    background-color: #ccc;
    min-height: 700px;
}
.menu{
    position: sticky;
    width: 20%;
    top: 20%;
    margin-left: 10%;
}
.parallax{
    min-height: 250px;
    background-image: url(nnn.jpg);
    background-attachment: fixed;

}

